Manifest.toml
test/test_data/test_1/*
test/test_data/test_2/*
test/test_data/test_3/*
test/test_data/template
!test/test_data/test_1/si.yaml
!test/test_data/test_2/si.yaml
!test/test_data/test_3/benzene.yaml
.vscode/*
*.cube
notebooks/*
.archive/*