Manifest.toml
test/test_data/test_*/*
test/test_data/_test_*/*
!test/test_data/test_*/si.yaml
!test/test_data/test_*/benzene.yaml
!test/test_data/test_5/si.save.zip
!test/test_data/test_5/output.zip
.vscode/*
*.cube
notebooks/*
.archive/*
docs/build
coverage
.DS_Store
test/tmp.jl
archived
*.html
logo.afdesign
